@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<h3>Projeto de teste técnico para a Auvo Tecnologia</h3>

<h4>Dados do participante:</h4>

<h4>Nome: Lucas Cardoso Zago</h4>

<h4><a href="https://www.linkedin.com/in/lucasczago/" target="_blank">LinkedIn</a></h4>